@import "tailwindcss";

:root{
    --primary-color: rgb(0, 63, 63);
    --secondary-color: teal;
    --empty: '';
}
@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 8px));
  }
}
  
.animate-scroll-loop {
  display: flex;
  animation: scroll-loop 30s linear infinite;
}
  
.animate-scroll-loop:hover {
  animation-play-state: paused;
}

@keyframes move-line {
  0%{
    height: 0%;
  }
  35%{
    height: 0%;
  }
  100%{
    height: 90%;
  }
}

.animate-move-line{
  animation: move-line 6s linear forwards;
}